* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 0px 280px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.hero-intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 480px;
}

.hero-intro h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-intro p {
  color: #e5e7eb;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
  padding: 120px 100px;
}

.hero-image {
  display: flex;
  background-color: slategray;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 280px;
}

.btn {
  padding: 8px 12px;
  background-color: #3882f9;
  width: 120px;
  text-align: center;
  border-radius: 8px;
}

.box {
  border: 6px solid #3882f9;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.section2 {
  padding: 40px 200px;
  margin-bottom: 30px;
}

.section2 h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.section2-content {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  font-size: 18px;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 120px 600px;
}

.quote-content {
  font-style: italic;
  font-size: 36px;
  font-weight: 100;
}

.author {
  text-align: end;
  font-size: 18px;
  font-weight: 700;
  margin-right: 50px;
}

.cta-section {
  padding: 100px 200px;
}

.cta {
  background-color: #3882f9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 40px 60px;
  width: 800px;
  margin: 0 auto;
}

.cta h2 {
  color: #f9faf8;
}

.cta p {
  color: #e5e7eb;
  font-weight: 200;
}

.cta-btn {
  padding: 6px 12px;
  background-color: #3882f9;
  border: 3px solid #f9faf8;
  width: 120px;
  text-align: center;
  border-radius: 8px;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  font-weight: 400;
  padding: 18px;
  text-align: center;
}
